.blog_post{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    width: 80%;
}

/*
.problem-image{
    max-width: 50%;
    max-height: auto;
    display: block;
    margin-bottom: 10px;
}*/
